body {
    margin: 0px 0px 0px 0px;
}

div {
    float: left;
    text-align: center;
}

div#title {
    width: 38.5%;
    float: none;
    margin-left: 380px;
    border: 8px solid black;
    border-top: none;
    padding: 50px 60px 50px 60px;
}

div#div_bl {
    margin-top: 100px;
}

div#div_mb {
    margin-left: 160px;
    margin-right: 78px;
    width: 300px;
}

div#div_it {
    margin-left: 58px;
    margin-right: 78px;
    width: 300px;
}

div#div_cm {
    margin-left: 78px;
    margin-right: 159px;
    width: 300px;
}

h1 {
    margin: 0px 0px 0px 0px;
    font-size: 60px;
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    margin-top: 45px;
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
}

p {
    font-size: 19px;
    font-family: 'Outfit', sans-serif;
}

img {
    width: 300px;
}