body {
    max-width: 1520px;
    margin: auto;
}

#nav_bar {
    width: 100%;
    background-color: #A6B1E1;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
}

#nav_left {
    padding-left: 20px;
}

#nav_right {
    display: flex;
    font-size: 17px;
}

#nav_right div {
    padding: 15px 25px;
}

.menu a {
    text-decoration: none;
    color: black;
}

#about_me_page {
    padding-top: 50px;
    background-color: #F4EEFF;
}

#self_intro {
    display: flex;
    text-align: center;
    align-items: center;
}

#si_left {
    width: 50%;
}

#si_right {
    width: 50%;
    font-size: 28px;
}

#si_right h1 {
    font-size: 180%;
}

#si_right span {
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    #si_left {
        width: 100%;
    }

    #si_right {
        width: 100%;
        text-align: center;
    }

    #self_intro {
        width: 100%;
        flex-wrap: wrap;
        font-size: 18px;
    }
}

#skill_icon {
    padding: 60px 40px;
    display: flex;
    text-align: center;
    align-items: center;
}

.s_icon {
    width: 25%;
}

#my_skill {
    background-color: #DCD6F7;
    padding: 20px 120px;
    text-align: center;
}

#my_skill h1 {
    font-size: 55px;
}

#progress_bar progress {
    width: 30%;
}

#pb1 {
    display: flex;
}

/*
#pb2 {
    display: flex;
}

#pb3 {
    display: flex;
} */

/* #progress_bar {
    width: 40%;
    height: 20px;
    background-color: #F4EEFF;
    border-radius: 8px;
    overflow: hidden;
}

#progress_bar progress {
    width: 100%;
    height: 100%;
    border: 1px solid #A6B1E1;
    border-radius: 8px;
}

#progress_bar::before {
    background-color: #A6B1E1;
}

#progress_bar progress::-webkit-progress-value {
    background-color: #A6B1E1;
} */

#edu {
    background-color: #F4EEFF;
    font-size: 26px;
    padding-bottom: 30px;
}

#edu h1 {
    font-size: 55px;
    text-align: center;
}

#timeline {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

#t-item1 {
    padding: 20px;
    border-left: 2px solid #A6B1E1;
    position: relative;
    margin-left: 50%;
}

#t-item1::before {
    content: '';
    position: absolute;
    top: 0;
    left: -8px;
    width: 12px;
    height: 12px;
    background-color: #424874;
    border-radius: 50%;
    border: 2px solid #A6B1E1;
}

#t-item2 {
    padding: 20px;
    border-right: 2px solid #A6B1E1;
    position: relative;
    margin-right: 49.8%;
    text-align: right;
}

#t-item2::before {
    content: '';
    position: absolute;
    top: 0;
    right: -8px;
    width: 12px;
    height: 12px;
    background-color: #424874;
    border-radius: 50%;
    border: 2px solid #A6B1E1;
}

#t-item3 {
    padding: 20px;
    border-left: 2px solid #A6B1E1;
    position: relative;
    margin-left: 50%;
}

#t-item3::before {
    content: '';
    position: absolute;
    top: 0;
    left: -8px;
    width: 12px;
    height: 12px;
    background-color: #424874;
    border-radius: 50%;
    border: 2px solid #A6B1E1;
}

.t-content {
    padding-left: 20px;
}

.date {
    font-size: 12px;
    color: #999;
}